/*  rooot */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* -----navbar start------ */

nav {
  margin: 0 auto;
  padding: 3px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(239, 229, 229);
  margin-top: 20px;
  border-radius: 20px;
}

#g3 {
  display: block;
  padding: 0 30px;
  float: left;
  font: bolder;
 
  font-size: 35px;
  font-weight: 700px;
  color: blue;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}


nav ul {
  float: right;
  padding: 0;
  margin-right: 20px;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  border-radius: 10px;
  margin-left: 5px;
  display: inline-block;
  background-color: lightblue;
}

nav a {
  display: block;
  padding: 14px 20px;
  font-size: 20px;
  color: white;
  font: bold;
  text-decoration: none;
}

/* Media Queries
---------------- */

@media all and (max-width: 768px) {
  #g3 {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
    width: 100%;
  }

 
   /* a,
  .menu {
    display: none;
  } */
  
  nav ul ul ul li {
    position: static;
  }
}

.bg-color{
  background: rgba(255, 144, 14, 0.1);
}

/*-----navbar  End---*/

/*---- head start--- */

.banner-title {
  font-size: 3.5vh;
  color: ;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
}
.banner-text p {
  font-size: 2vh;
  color: gray;
  margin-bottom: 10px;
}

.button {
  background-color: navy;
  padding: 15px;
  font-size: 2vh;
  color: white;
  border-radius: 5px;
}
.button:hover {
  background-color: white;
  color: black;
}

.banner-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

.banner-img {
  display: flex;
  margin-top: 50px;
  margin: 0 auto;
  height: 50%;
  padding: 20px;
}
.banner-img img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

/*  Head  end */

/*---- main start---- */

/* First section start */

.First-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  margin-top: 100px;
}
.First-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.feture{
  color: blue;
}
.First-info {
  font-size: 4vh;
}
.First-info p {
  font-size: 3vh;
  color: gray;
}

.First-container {
  position: relative;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.First-container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.First-container .box:hover .img-box {
  transform: translate(-2.5rem, -2.5rem);
}

.First-container .box:hover .content {
  transform: translate(2.5rem, 2.5rem);
}

.img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.img-box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  resize: both;
}

/* First section end */

/* -- second section start -- */

.Experience {
  width: 90%;
  justify-content: center;
  display: flex;
  gap: 100px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.info-img img {
  width: 80%;
 
}

.year {
  background-color: orange;
  padding: 40px;
  position: absolute;
  top: 83%;
  display: block;
  color: white;
  display: block;
  border-radius: 10px;
}


.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 30px;
}

.heading-title {
  font-weight: 600;
  padding: 10px;

  border-left: 2px solid orange;
}

.heading-p {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.cards {
  margin: 9px;
  padding: 15px;
  width: 90%;
  min-height: 72px;
  display: grid;
 background-color: rgba(216, 245, 255, 0.259);
  grid-template-rows: 0px 29px 1fr 88px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  transition: all 0.2s;
}

.card-p {
  position: relative;
  top: 30px;
  color: #727272;
 
}
 
  /* second section end */

  /* third section start */

  .Cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    gap: 60px;
    height: 200px;
    width: 80%;
    margin: 0 auto;

  }
  
  .some-text {
    text-align: center;
    margin-top: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .some-text h2 {
    font-size: 4vh;
    color: blueviolet;
  }
  .some-text p {
    font-size: 2vh;
    color: rgb(134, 124, 124);
  }
  
  .container .facts-card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container .facts-card .slide {
    width: 140px;
    border: 1px solid orange;
    height: 160px;
    transition: 0.5s;
  }
  .container .facts-card .slide.slide1 {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.7s;
    transform: translateY(100px);
  }
  
  .container .facts-card:hover .slide.slide1 {
    transform: translateY(0px);
  }
  
  .container .facts-card .slide.slide2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.567);
  }
  
 .Cards p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
  }
  
  .Cards h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
  }

  /* third section end */